@font-face {
  font-family: 'meghans';
  src: url("../Fonts/meghansfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  font-size: 16px;
  font-family: 'meghans';
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
  height: 100%;
  max-width: 1500px; }

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f3e9f1;
  width: 100%; }

.nav {
  font-size: 40px; }
  .nav__ul {
    display: flex;
    list-style-type: none; }
    .nav__ul li {
      margin: 10px; }
    .nav__ul a {
      text-decoration: none;
      color: black; }

.produit__detail {
  display: flex;
  justify-content: center;
  align-items: center; }

.produit__cmd {
  display: flex;
  flex-direction: column;
  height: 250px; }

.produit {
  border-radius: 10px;
  margin: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 800px;
  border: #37474F solid 1px;
  flex-direction: column; }
  .produit__header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #37474F solid 1px;
    width: 100%;
    height: 15%;
    background-color: #e58a0c;
    color: white; }
    .produit__header__name {
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: center;
      width: 80%;
      font-size: 100px;
      font-weight: normal; }
    .produit__header__price {
      width: 20%;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center; }
  .produit__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75%; }
    .produit__content__image {
      height: 80%;
      overflow: hidden; }
    .produit__content__description {
      width: 95%;
      font-family: sans-serif; }
  .produit__footer {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }

.produit__cmd__qte {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  font-size: 14px;
  font-family: sans-serif; }
  .produit__cmd__qte select {
    margin-left: 15px; }

.produit__cmd__total {
  font-size: 40px;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center; }

.produit__cmd__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%; }
  .produit__cmd__btn button {
    height: 30px;
    width: 250px; }

footer {
  width: 100%; }

.footer_info {
  background-color: black;
  color: white;
  display: flex;
  height: 200px;
  font-family: sans-serif; }
  .footer_info ul {
    list-style-type: none;
    line-height: 30px; }
    .footer_info ul a {
      text-decoration: none;
      color: white; }
  .footer_info img {
    width: 125px; }

@media all and (max-width: 900px) {
  body {
    font-size: 13px;
    max-width: 700px; }

  header {
    max-width: 700px; }
    header img {
      width: 250px; }
    header .nav {
      font-size: 30px; }

  .produit {
    font-size: 16px;
    width: 500px;
    height: 500px; }
    .produit__header__name {
      font-size: 50px; }
    .produit__header__price {
      font-size: 40px; }
    .produit__cmd__total {
      font-size: 35px; }

  footer {
    font-size: 15px; } }
@media all and (max-device-width: 480px) {
  body {
    max-width: 320px; }

  header {
    max-width: 320px; }
    header img {
      width: 80px; }
    header .nav {
      font-size: 15px; }
      header .nav li {
        margin: 5px; }

  .produit {
    font-size: 10px;
    width: 300px;
    height: 300px; }
    .produit__header__name {
      font-size: 30px; }
    .produit__header__price {
      font-size: 20px; }
    .produit__cmd__total {
      font-size: 25px; }

  footer {
    font-size: 15px; } }

/*# sourceMappingURL=produit.css.map */
