@font-face {
  font-family: 'meghans';
  src: url("../Fonts/meghansfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  font-size: 16px;
  font-family: 'meghans';
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
  height: 100%;
  max-width: 1500px; }

#main_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.produit__detail {
  display: flex;
  justify-content: center;
  align-items: center; }

.produit__cmd {
  display: flex;
  flex-direction: column;
  height: 250px; }

.produit {
  border-radius: 10px;
  margin: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 800px;
  border: #37474F solid 1px;
  flex-direction: column; }
  .produit__header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #37474F solid 1px;
    width: 100%;
    height: 15%;
    background-color: #e58a0c;
    color: white; }
    .produit__header__name {
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: center;
      width: 80%;
      font-size: 100px;
      font-weight: normal; }
    .produit__header__price {
      width: 20%;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center; }
  .produit__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75%; }
    .produit__content__image {
      height: 80%;
      overflow: hidden; }
    .produit__content__description {
      width: 95%;
      font-family: sans-serif; }
  .produit__footer {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }

.produit__cmd__qte {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  font-size: 14px;
  font-family: sans-serif; }
  .produit__cmd__qte select {
    margin-left: 15px; }

.produit__cmd__total {
  font-size: 40px;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center; }

.produit__cmd__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%; }
  .produit__cmd__btn button {
    height: 30px;
    width: 250px; }

.product__detail {
  background-color: white;
  width: 90%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.product {
  border-radius: 10px;
  margin: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  border: #37474F solid 1px;
  flex-direction: column; }
  .product__header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #37474F solid 1px;
    width: 100%;
    height: 10%;
    background-color: #e58a0c;
    color: white;
    font-size: 25px; }
    .product__header__name {
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: center;
      width: 80%;
      font-weight: normal; }
    .product__header__price {
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center; }
  .product__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75%; }
    .product__content__image {
      height: 65%;
      overflow: hidden; }
    .product__content__description {
      width: 95%;
      font-family: sans-serif; }
  .product__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: #37474F solid 1px;
    height: 15%;
    width: 100%;
    background-color: #CFD8DC; }
    .product__footer__btn {
      width: 90%;
      height: 60%;
      background-color: white;
      border-radius: 10px;
      border-width: 0px;
      -moz-box-shadow: 5px 5px 5px 0px #656565;
      -webkit-box-shadow: 5px 5px 5px 0px #656565;
      -o-box-shadow: 5px 5px 5px 0px #656565;
      box-shadow: 5px 5px 5px 0px #656565;
      filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5); }

#ordre {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center; }
  #ordre__validation {
    background: linear-gradient(#e58a0c, #8f5bfe);
    height: 50px;
    width: 200px;
    border-radius: 20px;
    margin: 50px;
    border-style: none;
    font-family: 'meghans';
    font-size: 25px;
    color: white;
    border-style: none; }
  #ordre__clear {
    height: 50px;
    width: 200px;
    border-radius: 20px;
    margin: 50px;
    border-style: none;
    font-family: 'meghans';
    font-size: 25px;
    color: black;
    background-color: #f3e9f1; }

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f3e9f1;
  width: 100%; }

.nav {
  font-size: 40px; }
  .nav__ul {
    display: flex;
    list-style-type: none; }
    .nav__ul li {
      margin: 10px; }
    .nav__ul a {
      text-decoration: none;
      color: black; }

footer {
  width: 100%; }

.footer_info {
  background-color: black;
  color: white;
  display: flex;
  height: 200px;
  font-family: sans-serif; }
  .footer_info ul {
    list-style-type: none;
    line-height: 30px; }
    .footer_info ul a {
      text-decoration: none;
      color: white; }
  .footer_info img {
    width: 125px; }

.table {
  padding: 50px; }
  .table tr {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin-bottom: 15px;
    padding: 5px;
    border-top: #B0BEC5 solid 1px;
    border-bottom: #B0BEC5 solid 1px; }

.table__th {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 200px;
  height: 100%; }
  .table__th__name {
    font-size: 30px;
    margin: auto; }
  .table__th__img {
    height: 120px; }

.table__td__info {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
.table__td__option {
  width: 100%;
  font-size: 16px;
  font-family: sans-serif;
  text-align: center; }
.table__td__qte {
  width: 100%;
  font-size: 16px;
  font-family: sans-serif;
  text-align: center; }
.table__td__prix {
  width: 125px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
.table__td__total {
  width: 100%;
  font-size: 16px;
  font-family: sans-serif;
  text-align: center;
  font-weight: bold; }
.table__td__montant {
  width: 100%;
  font-size: 16px;
  font-family: sans-serif;
  text-align: center;
  text-transform: uppercase; }
.table__td__buttons {
  width: 250px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
.table__td__btnClear {
  font-size: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: white;
  margin-bottom: 10px;
  background-color: red; }
.table__td__btnProduct {
  font-size: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: white;
  background: linear-gradient(#e58a0c, #8f5bfe);
  margin-top: 10px; }

.table__total {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px; }

#formulaire {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  flex-direction: column;
  background-color: #F5F5F5;
  border-radius: 20px; }
  #formulaire span {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 35%; }
  #formulaire__nom {
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto; }
    #formulaire__nom label {
      height: 100%;
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center; }
    #formulaire__nom input {
      width: 40%; }
    #formulaire__nom span .far {
      color: green;
      font-size: 25px;
      margin-left: 20px; }
  #formulaire__prenom {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center; }
    #formulaire__prenom label {
      height: 100%;
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center; }
    #formulaire__prenom input {
      width: 40%; }
    #formulaire__prenom span .far {
      color: green;
      font-size: 25px;
      margin-left: 20px; }
  #formulaire__email {
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto; }
    #formulaire__email label {
      height: 100%;
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center; }
    #formulaire__email input {
      width: 40%; }
    #formulaire__email span .far {
      color: green;
      font-size: 25px;
      margin-left: 20px; }
  #formulaire__ville {
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto; }
    #formulaire__ville label {
      height: 100%;
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center; }
    #formulaire__ville input {
      width: 40%; }
    #formulaire__ville span .far {
      color: green;
      font-size: 25px;
      margin-left: 20px; }
  #formulaire__address {
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto; }
    #formulaire__address label {
      height: 100%;
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center; }
    #formulaire__address input {
      width: 40%; }
    #formulaire__address span .far {
      color: green;
      font-size: 25px;
      margin-left: 20px; }
  #formulaire form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; }
  #formulaire input {
    margin: 10px; }

.empty {
  height: 300px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .empty__h2 {
    font-size: 35px; }

@media all and (max-width: 900px) {
  body {
    font-size: 13px;
    max-width: 700px; }

  #main_wrapper {
    width: 700px; }

  .table {
    padding: 50px; }
    .table__total__h2 {
      font-size: 35px; }

  .table__th {
    width: 200px; }

  .table__td__info {
    width: 100px; }
  .table__td__prix {
    width: 75px; }
  .table__td__buttons {
    width: 150px; }

  header {
    font-size: 10px;
    max-width: 700px; }
    header img {
      width: 250px; }
    header .nav {
      font-size: 30px; } }
@media all and (max-device-width: 480px) {
  body {
    max-width: 320px; }

  header {
    max-width: 320px; }
    header img {
      width: 80px; }
    header .nav {
      font-size: 15px; }
      header .nav li {
        margin: 5px; }

  #main_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }

  .table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    width: 100%; }
    .table tr {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 250px;
      height: 70px; }
    .table__th {
      height: 60px;
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .table__th__name {
        font-size: 15px; }
      .table__th__img {
        width: auto;
        height: 30px; }
    .table__td__info {
      width: 60px; }
    .table__td__option {
      font-size: 10px; }
    .table__td__qte {
      font-size: 10px; }
    .table__td__prix {
      width: 60px; }
    .table__td__montant {
      font-size: 10px; }
    .table__td__total {
      font-size: 10px; }
    .table__td__buttons {
      width: 50px; }
    .table__td__btnProduct {
      font-size: 20px; }
    .table__total__h2 {
      font-size: 20px; }

  #formulaire {
    width: 280px;
    font-size: 10px; }
    #formulaire span {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      text-align: center;
      height: 100%;
      width: 35%; }
    #formulaire__nom input {
      font-size: 10px; }
    #formulaire__nom span .far {
      font-size: 15px;
      margin-left: 10px; }
    #formulaire__prenom input {
      font-size: 10px; }
    #formulaire__prenom span .far {
      font-size: 15px;
      margin-left: 10px; }
    #formulaire__email input {
      font-size: 10px; }
    #formulaire__email span .far {
      font-size: 15px;
      margin-left: 10px; }
    #formulaire__ville input {
      font-size: 10px; }
    #formulaire__ville span .far {
      font-size: 15px;
      margin-left: 10px; }
    #formulaire__address input {
      font-size: 10px; }
    #formulaire__address span .far {
      font-size: 15px;
      margin-left: 10px; }

  #ordre {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 20px 0px 20px 0px; }
    #ordre__validation {
      width: 150px;
      height: 30px;
      font-size: 16px;
      margin: 5px; }
    #ordre__clear {
      width: 150px;
      height: 30px;
      font-size: 16px;
      margin: 5px; } }
@media all and (max-width: 900px) {
  body {
    font-size: 13px;
    max-width: 700px; }

  header {
    font-size: 10px;
    max-width: 700px; }
    header img {
      width: 250px; }
    header .nav {
      font-size: 30px; } }
@media all and (max-device-width: 480px) {
  body {
    max-width: 320px; }

  header {
    max-width: 320px; }
    header img {
      width: 80px; }
    header .nav {
      font-size: 15px; }
      header .nav li {
        margin: 5px; }

  .product {
    font-size: 10px;
    width: 250px;
    height: 250px; } }
@media all and (max-width: 900px) {
  body {
    font-size: 13px;
    max-width: 700px; }

  header {
    max-width: 700px; }
    header img {
      width: 250px; }
    header .nav {
      font-size: 30px; }

  .produit {
    font-size: 16px;
    width: 500px;
    height: 500px; }
    .produit__header__name {
      font-size: 50px; }
    .produit__header__price {
      font-size: 40px; }
    .produit__cmd__total {
      font-size: 35px; }

  footer {
    font-size: 15px; } }
@media all and (max-device-width: 480px) {
  body {
    max-width: 320px; }

  header {
    max-width: 320px; }
    header img {
      width: 80px; }
    header .nav {
      font-size: 15px; }
      header .nav li {
        margin: 5px; }

  .produit {
    font-size: 10px;
    width: 300px;
    height: 300px; }
    .produit__header__name {
      font-size: 30px; }
    .produit__header__price {
      font-size: 20px; }
    .produit__cmd__total {
      font-size: 25px; }

  footer {
    font-size: 15px; } }
.validation__message {
  text-align: center;
  width: 100%;
  height: 550px; }
  .validation__message h2 {
    font-size: 80px;
    background: -webkit-linear-gradient(#e58a0c, #8f5bfe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .validation__message p {
    font-size: 20px;
    font-family: sans-serif; }

/*# sourceMappingURL=style.css.map */
