$color-primary: #f3e9f1;
$color-secondary: #e58a0c;
$color-border: #37474F;
$color-tertiary: #8f5bfe;
$color-table: #B0BEC5;
$color-form: #F5F5F5;
$mqsize900: 700px;
$mqsize480: 320px;
$fontSizeMQ480: 10px;